:root {
    --primario: #f46669;
    --secundario: #c7c57d;
    --gris: #f5f5f5;
}
body {
    font-family: 'Roboto', sans-serif;
    color:#303030;
}
p {
    font-weight: 100;
    line-height: 3rem;
    font-size: 1.2rem;
}
/** Navegacion **/
.nav-link, .nav-link:hover {
    text-transform: uppercase;
    color: #000000;
}

/** Imagenes principales**/

.bg-primary {
    background-color: var(--primario)!important;
}
.bg-secondary {
    background-color: var(--secundario)!important;
}
.bg-vino {
    background-image: url('../img/principal1.jpg');
}

.bg-comida {
    background-image: url('../img/principal2.jpg'); 
}

.imagen {
    background-size: cover;
    background-position: top center;
}

.imagen-superior > div,
.imagen-inferior > div {
    height: 30rem;
}

@media (min-width: 768px) {
    .imagen-superior > div,
    .imagen-inferior > div {
        height: 45rem;
    }
}

.imagen-inferior .bg-comida {
    order: 1;
}

@media (min-width: 768px) {
    .imagen-inferior .bg-comida {
        order: unset;
    }
}

.imagen-superior .contenido {
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
}

.imagen-inferior .contenido {
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
}

.contenido p {
    font-size: 1.2rem;
    font-weight: 100;
    line-height: 2rem;
}

/** Nosotros **/
.separador::after {
    content: '';
    display: block;
    width: 300px;
    height: 100px;
    background-image: url('../img/separador.png');
    background-position: center center;
    margin: 0 auto;
    background-repeat: no-repeat;
}

.nosotros .informacion h3 {
    font-weight: 300;
    font-size: 1.6rem;
}

/** Proximas clases **/
.clases {
    background-color: #f5f5f5;
}
.card {
    margin-bottom: 1rem;
}
.card-meta span {
    font-weight: 700;
}
.badge-secondary {
    background-color: var(--secundario);
}
.card-subtitle {
    color:var(--primario);
    font-weight: 400px;
    line-height: 2rem;
}
.card-body p{
    font-size: 1rem;
    line-height: 2rem;
}
.card-body a{
    color: var(--primario);
}

.licenciatura {
    background-image: url(../img/chef_bg.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.estudia-licenciatura {
    height: 38rem;
}

.estudia-licenciatura .contenido h2 {
    font-size: 2.4rem;
    font-weight: 700;
}
.estudia-licenciatura .contenido p{
    font-size: 1.8rem;
    line-height: 3rem;
}
.btn-primary {
    background-color: var(--primario);
    border-color: var(--primario);
}
.btn-primary:hover {
    background-color: #d84749;
    border-color: #d84749;
}

/** Footer **/
.footer {
    border-bottom: 10px solid var(--primario);
}
.copyright {
    font-size: 1rem;
    font-weight: 700;
}